
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

}

h1,h2,h3,h4,h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

/* Blue Color = rgba(20,180,250,0.9)*/


.contain {
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

.testimonials {
	min-height: 400px;
    width: 100%;
    text-align: center;
    color: dodgerblue;
    font-weight: bold;
    overflow: auto;
    border-bottom-style: groove;
}

.partners {
    text-align: center;
    font-weight: bold;
    color: dodgerblue;
}

.testimonials h4 {
    font-size: 1.5em;
    color: black;
}

.testimonials p {
    font-size: 1em;
    color: black;
    font-weight: 200;
}

.testimonials img {
    border-radius: 50%;
}




